@import "_variables";
body {
    background-color: #5eb6b5;
    color: map-get($map: $colores, $key: blanco );
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
  }