@import "_variables";
.card_section {
  @extend %categorias;
  margin: 75px;
}

.imagen_de_la_card {
  width: 100%;
  padding: auto;
}
.colores_card {
  background-color: map-get($map: $colores, $key: turquesacinco);
}
