@import "_variables";
.final {
  @extend %categorias;
  flex-direction: column-reverse;
  background-color: map-get($map: $colores, $key: turquesatres);
  height: 175px;

  @include aling-item;
  color: map-get($map: $colores, $key: blanco);
  ul {
    display: flex;
  }
  li {
    margin: 4px;
    padding: 5px;
  }
}

.final a img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: map-get($map: $colores, $key: turquesados);
  padding: 10px;
}
