@import "_variables";
.header {
  background-color: map-get($map: $colores, $key: turquesatres) !important;
  z-index: 3;
}

.navbar {
  background-color: map-get($map: $colores, $key: turquesatres) !important;
}

.nav-link:hover {
  background-color: map-get($map: $colores, $key: turquesacuatro) !important;
  color: map-get($map: $colores, $key: blanco) !important;
}

header {
  position: sticky;
  top: 0%;
}

.navegacion {
  @include display-flex;
  background-color: map-get($map: $colores, $key: turquesatres) !important;
  justify-content: space-between;
  @include text-aling;
  ul {
    @include display-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  li {
    font-size: 23px;
    margin: 4px;
    padding: 5px;
    &:hover {
      border-top: 3px solid map-get($map: $colores, $key: blanco);
      border-bottom: 3px solid map-get($map: $colores, $key: blanco);
    }
    a {
      text-decoration: none;
      color: map-get($map: $colores, $key: blanco);
      border-radius: 15%;
    }
  }
}

.navegacion li .buscador {
  width: 30px;
  height: 30px;
  border-radius: 10%;
}
