@import "_variables";
.titulo-1 {
  font-size: 10px;
  padding-top: 70px;
}
.titulo-1 h2 {
  @include text-aling;
  color: map-get($map: $colores, $key: blanco);
}
.contenedor-servicios {
  @extend %categorias;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 150px;
  padding-left: 80px;
  padding-right: 80px;
}
.productos {
  @include text-aling;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 1px 1px 10px map-get($map: $colores, $key: blancotres);
  margin: 10px;
}
.productos-1 img {
  width: 150px;
  box-shadow: 1px 1px 10px map-get($map: $colores, $key: gris);
}
.productos h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
  color: map-get($map: $colores, $key: blancodos);
}
.servicios a,
.productos a {
  text-decoration: none;
}
.servicios p,
.productos p {
  padding: 20px;
  color: map-get($map: $colores, $key: blancodos);
  font-size: 18px;
}
