@import "_variables";
/*.ProductosSeccionProductos {
  margin: 100px;
}*/
.ProductosSeccionProductos {
    h2 {
    font-size: 70px;
    color: map-get($map: $colores, $key: blanco );
    text-align: center;
    }
    h3 {
      /* font-size: 50px;*/
      color: map-get($map: $colores, $key: blanco );
      text-align: center;
    }
    p {
      text-align: center;
      margin: 25px 400px;
    }
    input {
      margin-top: 20px;
      padding: 20px;
      border: none;
      border-radius: 50px;
      background-color: map-get($map: $colores, $key: turquesaUno );
      color: map-get($map: $colores, $key: blanco );
      font-size: 40px;
    }
  }
  



  