@import "_variables";
.contenedor {
  @extend %categorias;
  margin: 20px 50px;
  flex-wrap: wrap;
  h2 {
    color: map-get($map: $colores, $key: blanco);
  }
  img {
    width: 100%;
    height: 700px;
  }
  p {
    line-height: 2;
    color: map-get($map: $colores, $key: blanco);
    font-size: 22px;
  }
}

.contenedor > div {
  padding: 0 10px;
  width: 100%;
}

.contenedor div.izquierda {
  width: 40%;
}

.contenedor div.izquierda h2 {
  font-size: 50px;
}

.contenedor div.izquierda input {
  font-size: 20px;
  margin-right: 20px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  background-color: map-get($map: $colores, $key: turquesauno);
  color: map-get($map: $colores, $key: blanco);
  &:hover {
    background-color: map-get($map: $colores, $key: turquesacuatro);
  }
}

.contenedorBotones {
  @include display-flex;
  flex-wrap: wrap;
}

.contenedor div.derecha {
  width: 55%;
}
