@import "_variables";
.background-contacto {
  background: map-get($map: $colores, $key: turquesados);

  padding-top: 20px;
}

.formcontacto {
  background: map-get($map: $colores, $key: turquesatres);
  color: map-get($map: $colores, $key: blanco);
  padding: 50px;
  margin: 0 auto;
  width: 300px;
  box-shadow: 3px 3px 10px map-get($map: $colores, $key: turquesatres);
  div {
    padding: 15px;
  }
  input {
    border: map-get($map: $colores, $key: blanco);
  }
}
.enviar {
  color: map-get($map: $colores, $key: blanco);
  border-radius: 15px;
  padding: 5px;
}
.btn {
  background-color: map-get($map: $colores, $key: blanco);
}
