    /* ----------------------------------------------- Grid Boostrap -------------------------------------------------------- */

    .container {
        color: #fff;
        font-size: 40px;
        text-align: center
      }
      .row{
        border-radius: 10px;
        margin-top: 20px;
      }
  .col-4{
    background-color: #519695;
    border-radius: 50px;
  }