  /* ----------------------------------------------- Card en index -------------------------------------------------------- */
  .card_section{
    display: flex;
    justify-content: center;
    margin: 75px;
  }
  
  .imagen_de_la_card{
    width: 100%;
    padding: auto;
  }
  .colores_card{
    background-color: #5ABBB9;
  }
